.ground {
  background-color: whitesmoke;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.part{
  border-top:1px solid #e4e4e4;
  height: 50px;
  line-height: 40px;
}
section{

}
label{
  font-size: 15px;
  margin-left: 30px;
  text-align: left;
  color: rgba(0, 0, 0, .54);
  padding-left: 27px;
  display: block;
}
.ground li{
  margin-left: 30px;
  font-size: 15px;
  text-align: left;
  color: rgba(0, 0, 0, .54);
  padding-left: 27px;
  list-style-type:none;
  float: left;
}
#a_3{
  padding-right: 800px;
}



