@navigator-line-height: 24px;

.search-icon{
  float: left;
  font-size: @navigator-line-height;
  margin-left: 20px;
  margin-top: 10px;
  color: #9AA0A6;;
}
.search-box{
  font-size: @navigator-line-height;
  width: 100%;
  border: none;
  outline: none;

}
.voice-icon{
  float: right;
  font-size: @navigator-line-height;
  margin-right: 20px;
  margin-top: 10px;
}
