.search {
  text-align: center;
  margin-top: 200px;

  header {
    img {
      height: 92px;
      width: 272px;
    }
  }
  .input {
    width: 550px;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 25px auto;
  }
  .chinese{

  }
  div{
    line-height: 28px;
    font-size: small;
    margin-bottom: 24px;
    margin-top: 20px;
  }
  a{
    color: #1a0dab;
    text-decoration: none;
    padding: 0 3px;
  }
}
